doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    
    script(src="/js/lodash.min.js")
    script(src="/js/pixi.js")
    script(src="/js/markov.js")
  body
    block content
